self-healing-key
self-healing-key.pub
*.pem
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.env
*.log
.DS_Store
Thumbs.db
**pycache**/
*.pyc
docker-compose.override.yml
*.swp
